<form
  id="contact-form"
  action="/form-handler"
  method="post"
  class="js-recaptcha"
  >
  <label class="u-hidden">Form Name<input name="form" type="hidden" value="contact" /></label>
  <label class="u-hidden">Form ID<input name="id" type="hidden" value="id-contact" /></label>
  <label class="u-hidden">Form Submission<input name="form_contact_submission" type="hidden" /></label>

  {% for utm in utms %}
    <label class="u-hidden">{{ utm }}<input name="{{ utm }}" type="hidden" data-utm="{{ utm }}" /></label>
  {% endfor %}

  <h3>Example Form Title</h3>
  <p>Required fields are followed by <abbr title="required" aria-label="required">*</abbr>.</p>

  {# Form Fields  #}

  <button id="form-submit" type="submit" class="">
    Submit
  </button>
</form>
