/* #tinymce body {
  color: #202329;
  font-family: Arial, sans-serif;
  line-height: 1.25;
}

#tinymce h1,
#tinymce h2,
#tinymce h3,
#tinymce h4,
#tinymce h5,
#tinymce h6 {
  margin: 0 0 .6em;
  font-family: Arial, sans-serif;
  line-height: 1.1;
}

#tinymce a {
  color: #4f185a;
  text-decoration: underline;
}

#tinymce p {
  margin: 0 0 1.25em;
} */
