{# I'm here so you can see the front-end working, replace with actual project front-end #}
<footer role="contentinfo" class="c-footer">
	<div class="o-wrapper">
		<small>&copy; <a href="https://wilddogdesign.co.uk">Wild Dog Design</a></small>
	</div>
</footer>
