{# I'm here so you can see the front-end working, replace with actual project front-end #}
<header role="banner" id="top" class="c-header">
	<div class="o-wrapper">
		<a href="/" class="c-header__brand">{{ site.name }}</a>

    <nav class="c-header__nav">
      <a href="#" class="c-header__nav__item">Something</a>
      <a href="#" class="c-header__nav__item">A thing</a>
      <a href="#" class="c-header__nav__item">Services</a>
      <a href="#" class="c-header__nav__item">About</a>
      <a href="#" class="c-header__nav__item">Contact</a>
    </nav>

    <button
      class="c-header__toggle u-hidden-from@tablet  js-class-trigger"
      data-target="body"
      data-class-to-trigger="is-visible--mobile-menu">
      <span class="c-header__toggle__lines"></span>
      <span class="u-a11y">Menu</span>
    </button>
	</div>
</header>
