{% extends "base.twig" %}

{% block content %}

  <div class="o-wrapper">
    <h1>{{ get_global('404_title', 'global-options') }}</h1>
    {{ get_global('404_content', 'global-options')|wpautop|enableShortcodes }}
    </div>
  </div>

{% endblock %}
