{# UNUSED #}
{% extends "includes/_base.twig" %}

{% block content %}

<div id="main" role="main">
  <div class="o-wrapper">
    <div class="o-freetext">
      <h1>{{post.title}}</h1>
      {{post.content|wpautop}}
    </div>
  </div>
</div>

{% endblock %}
