{# UNUSED #}
{% extends "base.twig" %}

{% block content %}

  <div class="o-wrapper">
    <div class="o-freetext">
      <h1>{{post.title}}</h1>
      {{post.content|wpautop}}
    </div>
  </div>

{% endblock %}
